.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body > * {
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    height: 25%;
}
