.rack-info {
    display: grid;
    bottom: 0%;
}

#player-letters {
    padding-top: 10px;
    border-radius: 5px;
    background-color: #f8ebd9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#player-letters #canvas {
    display: flex;
    align-items: center;
}

#actions-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
