<div class="info-panel">
    <!-- <link rel="stylesheet" type="text/css" href="information-panel.component.scss" /> -->
    <h1 mat-dialog-title id="panel-title">Panneau informatif</h1>
    <section id="properties-row" class="player-properties">
        <div>nom du joueur</div>
        <div>score</div>
        <div>points</div>
        <div>joueur actif:</div>
        <!-- <div>objectif + points qu'ils rapportent lorsque c'est en mode log2990</div> -->
        <div>x lettres restantes sur le chevalet</div>
        <div>x lettres restantes dans la réserve</div>
    </section>
</div>
