@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

#panel-title {
    text-align: center;
    margin-bottom: 0px;
}

.player {
    border-radius: 4px;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-color: #aecec4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player > * {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: #23501f;
}

#player-2 {
    margin-bottom: 40px;
}

.time {
    transform: scale(1.5);
    display: flex;
    align-items: flex-end;
}

.player > .time {
    align-items: flex-end;
    justify-content: flex-end;
}

#combined {
    display: flex;
    justify-content: space-between;
}

.name-score > * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.active {
    margin-left: 10px;
    margin-right: 0;
    border: 2px solid #23501f;
    background-color: #c2e5da;
    box-shadow: rgb(35, 80, 31, 0.4) -5px 5px, rgb(35, 80, 31, 0.3) -10px 10px, rgb(35, 80, 31, 0.2) -15px 15px;
}

td {
    padding-left: 5px;
    color: #23501f;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

td > mat-icon {
    color: #609987;
}

.complete {
    color: rgba(255, 255, 255, 0.85);
    font-family: 'proxima-nova', sans-serif;
    font-weight: lighter/bolder;
    text-decoration: line-through;
    display: block;
}

tr > td > div > mat-icon {
    color: white;
}

.mat-expansion-panel {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    background-color: #aecec4;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.mat-expansion-panel-header-title {
    color: rgb(35 80 31);
    font-family: system-ui;
    font-size: 20px;
    font-weight: 600;
}

.mat-expansion-panel-header-title > mat-icon {
    padding-right: 7px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 10px;
}

.assignment-icon {
    float: left;
}

.objective-tr {
    display: flex;
    vertical-align: inherit;
    border-color: inherit;
    padding-top: 1px;
    padding-bottom: 12px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding: 5px;
    padding-left: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-left: 10px solid;
    border-left-color: #23501f;
}

.numberCircle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 6px;
    color: #fff;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bolder !important;
    font-size: 10px;
    background-color: #23501f;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
}

.isPublic-obj {
    color: black;
    opacity: 0.8;
    font-family: 'proxima-nova', sans-serif;
    font-weight: lighter;
    font-size: small;
    float: left;
    display: flex;
    padding-right: 7px;
    margin: 0 0 0px;
}

.help-button {
    background-color: #23501f;
    align-self: flex-end;
}

#td-objective {
    display: block;
    color: #23501f;
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
}

.obj-paragraph {
    color: #23501f;
    font-family: system-ui;
    font-weight: bold;
    font-size: 13px;
}

.objective-completed {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    padding: 7px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #609987;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
}

.score {
    color: rgb(5, 5, 5) !important;
}

.rack-letters {
    color: rgb(71, 37, 206);
    font-weight: bold;
}

.playerInfo {
    text-align: left;
}

::ng-deep .mat-body p,
::ng-deep .mat-body-1 p,
::ng-deep .mat-typography p {
    margin: 0;
    margin-bottom: 5px;
}
