<div class="action-container" mat-dialog-actions>
    <button class="button" (click)="returnWaiting()" mat-button mat-dialog-close>
        <mat-icon>navigate_before</mat-icon>
        retourner
    </button>
</div>
<h1 mat-dialog-title>Sélectionner Une Difficulté</h1>
<div class="container" mat-dialog-content>
    <button (click)="easySoloMode()" id="easyMode" mat-raised-button mat-dialog-close>
        Facile
        <mat-icon>child_care</mat-icon>
    </button>
    <button mat-raised-button class="expectMode" mat-dialog-close disabled>
        Difficile
        <mat-icon>fitness_center</mat-icon>
    </button>
</div>
