.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 50%;
}

.child2 {
    width: 50%;
}

mat-selection-list {
    width: 80%;
}

mat-list-option {
    background-color: #c2e5da;
    border: 1px solid #c2e5da;
    border-radius: 15px;
    margin-bottom: 2%;
}

.justified {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.example-form-field {
    width: 200px;
}

.action-buttons {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}
