.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 50%;
}

.child2 {
    width: 50%;
}

.justified {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.example-form-field {
    width: 200px;
}

.action-buttons {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}
