.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: rgb(105, 236, 193);
    top: 5%;
    border: 2px solid rgb(44, 223, 20);
    border-radius: 50px;
}

.wrapper {
    text-align: center;
    margin-top: 10px;
}

table {
    width: 100%;
}

th {
    font-size: 20px;
    padding: 10px;
}
td {
    text-align: center;
    width: 50%;
    padding: 5px;
}

.highScoreTableClassic,
.highScoreTableLOG2990 {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(44, 223, 20);
    border-radius: 50px;
    margin-bottom: 40px;
    padding: 0px;
}

.containerTitle {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
    color: rgb(179, 22, 179);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
}

mat-icon {
    font-size: 30px;
}
