.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
}

.play-area {
    display: flex;
    // display: grid;
    // width: min-content;
    // outline: none;
    justify-content: center;
}
