body {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.load {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.load > h1 {
    font-family: revert;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.information-panel {
    flex-grow: 1;
    max-width: 375px;
    box-shadow: 1px 3px 2px -2px rgba(0, 0, 0, 0.2), 1px 2px 2px 1px rgba(0, 0, 0, 0.14), 1px 2px 4px 1px rgba(0, 0, 0, 0.12);
    padding: 10px;
    background-color: #7fa99b;
    // background: radial-gradient(circle, rgba(142, 196, 178, 1) 35%, rgba(131, 196, 174, 1) 100%);
    min-height: 755px;
}

.play-area {
    overflow: auto;
    flex-grow: 7;
    align-items: center;
    background-color: #c2e5da;
    justify-content: center;
    min-width: 620px;
    min-height: 755px;
}

.chatbox {
    flex-grow: 1;
    max-width: 400px;
    padding: 7px 7px 0px 10px;
    background-color: #7fa99b;
    min-height: 755px;
}
