<mat-card class="container">
    <mat-card-title>Joindre Une Partie</mat-card-title>
    <div class="wrapper">
        <mat-card-title>Nom</mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>Entrez votre Nom</mat-label>
            <input matInput maxlength="20" type="text" [(ngModel)]="playerName" placeholder="Ex. Robert" />
            <mat-hint
                [ngClass]="{
                    max: playerName?.length === 20
                }"
                align="end"
                >{{ playerName?.length || 0 }}/20</mat-hint
            >
        </mat-form-field>
        <mat-card-title>Liste des Partie Disponible</mat-card-title>
        <mat-card class="list-container">
            <table class="roomAvailable" *ngIf="availableRooms.length > 0">
                <thead class="tableContainer">
                    <tr>
                        <th>Nom Utilisateur</th>
                        <th>Dictionnaire</th>
                        <th>Temps</th>
                        <th>Mode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gameRoom of availableRooms">
                        <td>{{ gameRoom.users }}</td>
                        <td>{{ gameRoom.dictionary }}</td>
                        <td>{{ gameRoom.timer }} s</td>
                        <td>{{ gameRoom.mode }}</td>
                        <button class="joinGameButton" (click)="joinRoom(gameRoom.id)" mat-raised-button [disabled]="!playerName">Rejoindre</button>
                    </tr>
                </tbody>
            </table>
            <a class="noRoomAvailable" *ngIf="availableRooms.length === 0">Aucune Partie Disponible à joindre</a>
        </mat-card>

        <div class="containerButton">
            <button class="returnButton" mat-icon-button routerLink="/home">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button
                *ngIf="availableRooms.length !== 0"
                class="joinRandomGameButton"
                (click)="joinRandomGame()"
                mat-raised-button
                [disabled]="!playerName || availableRooms.length <= 1"
            >
                Aléatoire
            </button>
        </div>
    </div>
</mat-card>
