.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.button {
    margin-bottom: 10px;
}

.action-container {
    margin-bottom: 10px;
}

#solo {
    margin-bottom: 40px;
}
