<div class="container" mat-dialog-actions>
    <button class="button-return" mat-button mat-dialog-close>
        <mat-icon>navigate_before</mat-icon>
        retourner
    </button>
</div>

<div class="container" mat-dialog-content>
    <button class="button" mat-raised-button color="primary">Solo<mat-icon class="button-icon">smart_toy</mat-icon></button>
    <button class="button" mat-raised-button color="primary">Multijoueur<mat-icon class="button-icon">support_agent</mat-icon></button>
</div>
