.action-buttons {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}
mat-panel-title {
    display: flex;
    justify-content: space-around;
}

mat-panel-title > * {
    flex: 1;
}

mat-panel-description {
    color: red;
}
