.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    height: 120px;
    width: 100%;
    text-align: center;
    color: #23501f;
    background-color: #7fa99b;
    justify-content: flex-end;
}
