<footer class="footer justified sticky">
    <h4 class="team-name">Équipe 107</h4>
    <div class="team-members">
        <a href="https://www.linkedin.com/in/changieong/" target="_blank">Mariana Chang Ieong</a>
        <a href="linkedin.com/in/vincent-richard-757ab1204" target="_blank">Vincent Richard</a>
        <a href="linkedin.com/in/christian-sassine-554801214" target="_blank">Christian Sassine</a>
        <a href="linkedin.com/in/esmé-généreux-045270204" target="_blank">Esmé Généreux</a>
        <a href="linkedin.com/in/yasser-kadimi-184a38231" target="_blank">Yasser Kadimi</a>
        <a href="https://www.youtube.com/watch?v=Gc2u6AFImn8" target="_blank">Laurent Quoc Hoa Nguyen</a>
    </div>
</footer>
