<footer class="footer justified sticky">
    <h4 class="team-name">Équipe 107</h4>
    <div class="team-members">
        <a href="https://www.linkedin.com/in/changieong/">Mariana Chang Ieong</a>
        <a href="linkedin.com/in/vincent-richard-757ab1204">Vincent Richard</a>
        <a href="linkedin.com/in/christian-sassine-554801214">Christian Sassine</a>
        <a href="linkedin.com/in/esmé-généreux-045270204">Esmé Généreux</a>
        <a href="linkedin.com/in/yasser-kadimi-184a38231">Yasser Kadimi</a>
        <a href="https://www.youtube.com/watch?v=Gc2u6AFImn8">Laurent Quoc Hoa Nguyen</a>
    </div>
</footer>
