.headerContent {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

.containerTitle {
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
    color: #23501f;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
    width: 150%;
}
