#home {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbd7a3;
    border-radius: 5px;
    margin: 2px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
}
