.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(174, 192, 174);
}

#home,
#admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    flex: 1;
}

#home {
    margin-left: 30px;
}

#admin {
    margin-right: 30px;
    justify-content: right;
}

#home:hover,
#admin:hover {
    transform: scale(1.01);
}

#home > *,
#admin > * {
    color: #23501f;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbd7a3;
    border-radius: 5px;
    margin: 2px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
}
