<body class="page-container justified">
    <div class="header justified">
        <mat-card-title class="header-item">{{ title }}</mat-card-title>
        <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    </div>
    <mat-card class="justified">
        <mat-card-content class="container-buttons justified">
            <button id="classique" mat-raised-button color="primary" class="button game" (click)="openDialog('classique')">Scrabble Classique</button>
            <button id="LOG2990" mat-raised-button color="primary" class="button game" (click)="openDialog('LOG2990')">Scrabble LOG2990</button>
            <button mat-raised-button (click)="openHighScoreDialog()" color="accent" class="button score">
                Meilleur scores <mat-icon class="button-icon">emoji_events</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
    <div class="footer justified">
        <h4 class="team-name">Développeurs</h4>
        <p>
            <span>Mariana Chang Ieong</span>, <span>Vincent Richard</span>, <span>Christian Sassine</span>, <span>Yasser Kadimi</span>,
            <span>Laurent Quoc Hoa Nguyen</span>, <span>Esmé Généreux</span>
        </p>
    </div>
</body>
