<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <div class="container-buttons">
        <button mat-raised-button color="primary" class="button">Scrabble Classique <mat-icon class="button-icon">grid_view</mat-icon></button>
        <button mat-raised-button color="primary" class="button">Scrabble LOG2990 <mat-icon class="button-icon">checklist</mat-icon></button>
        <button mat-raised-button color="accent" class="button">Meilleur scores <mat-icon class="button-icon">emoji_events</mat-icon></button>
    </div>

    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Coéquipier #1</span>, <span>Coéquipier #2</span>, <span>Coéquipier #3</span>, <span>Coéquipier #4</span>,
            <span>Coéquipier #5</span>, <span>Coéquipier #6</span>
        </p>
    </div>
</div>
