.page-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(174, 192, 174);
}

.container {
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 40px;
    padding: 2%;
    width: 600px;
    color: #23501f;
}

.header-item {
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.button {
    margin-top: 10px;
    text-align: center;
    width: 50%;
}

.mat-card {
    padding: 20px;
    min-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #effbf0;
}

.mat-raised-button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.mat-raised-button:hover {
    transform: scale(1.03);
}

.score {
    margin-top: 15%;
}

.footer {
    text-align: center;
    height: 20%;
    color: #23501f;
    justify-content: flex-end;
}

.team-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}
