.page-container {
    height: 100%;
    display: flex;
    background-color: rgb(174, 192, 174);
}

.justified {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 1%;
    color: #23501f;
    height: 50px;
}

.header-item {
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.mat-card {
    padding: 30px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #e5f5e6;
}
.mat-card-content {
    width: 100%;
}
.mat-raised-button:hover {
    transform: scale(1.03);
}

.button {
    margin-top: 15px;
    text-align: center;
    width: 90%;
}

.footer {
    height: 50px;
    width: 98%;
    padding: 1%;
    text-align: center;
    color: rgb(120, 134, 120);
    background-color: #e5f5e6;
}

.team-name {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
}
