.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

#abandonButton {
    color: #f0fff3;
    background-color: #155724;
}

#stayButton {
    color: #f0fff3;
    background-color: #b42222;
}
