body {
    margin: auto;
    height: 100%;
    background-color: rgb(225, 232, 248);
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 50%;
    min-width: 500px;
    background-color: rgb(174, 192, 174);
    color: #23501f;
    padding: 30px;
}

.main-title {
    text-align: left;
    padding-bottom: 20px;
}

.container-button {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.mat-card-title {
    font-size: 23px;
    margin-top: 10px;
}

.start-button {
    border-radius: 10px;
    width: 200px;
    font-size: 23px;
    padding: 2px;
    color: honeydew;
    background-color: green;
}

.start-button:hover {
    transform: scale(1.01);
}

.return-button {
    transform: scale(1.01);
}

.wrapper {
    text-align: center;
}

.max {
    color: red;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255 255 255 / 36%);
}
::ng-deep .mat-form-field-underline {
    display: none;
}

#info {
    display: inline;
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 10;
    top: 325px;
    left: 70%;
    color: white;
    visibility: hidden;
}

#info p {
    margin: 0;
}

#info p:first-child {
    border-bottom: solid white;
    margin-bottom: 8px;
}
