<body class="justified">
    <mat-card class="wrapper">
        <mat-card-title class="main-title">Paramètres de jeux</mat-card-title>
        <div>
            <mat-card-title>Nom</mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label>Entrez votre Nom</mat-label>
                <input matInput maxlength="20" type="text" [(ngModel)]="playerName" placeholder="Ex. Robert" />
                <mat-hint
                    [ngClass]="{
                        max: playerName?.length === 20
                    }"
                    align="end"
                    >{{ playerName?.length || 0 }}/20</mat-hint
                >
            </mat-form-field>

            <form [formGroup]="form">
                <mat-card-title>Minuterie</mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Temps</mat-label>
                    <mat-select id="timer-select" formControlName="timer">
                        <mat-option id="timer-options" *ngFor="let time of this.timerList" [value]="time">
                            {{ this.timer.secondToMinute(time) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>

            <form [formGroup]="form">
                <mat-card-title>Dictionnaire</mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Liste</mat-label>
                    <mat-select (click)="onOpen()" formControlName="dictionary">
                        <mat-option *ngFor="let dictionary of this.dictionaryList" [value]="dictionary.title">
                            {{ dictionary.title.charAt(0).toUpperCase() + dictionary.title.slice(1) }}
                            <span (mouseover)="onMouseOver(dictionary)" (mouseout)="onMouseOut()" id="dict-info">ⓘ</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div #info id="info">
                    <p></p>
                    <p></p>
                </div>
            </form>

            <app-import-dictionary></app-import-dictionary>

            <form *ngIf="isSoloMode()" class="soloMode" [formGroup]="form">
                <mat-card-title>Difficulté</mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Difficulté</mat-label>
                    <mat-select id="difficulty-select" formControlName="difficultyBot">
                        <mat-option id="difficulty-options" *ngFor="let difficulty of this.difficultyList" [value]="difficulty">
                            {{ difficulty }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>

            <form *ngIf="isSoloMode()" class="soloMode">
                <mat-card-title>Nom Adversaire</mat-card-title>
                <mat-label> {{ this.botName }} </mat-label>
            </form>

            <div class="container-button">
                <button class="return-button" mat-icon-button routerLink="/home">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button class="start-button" (click)="createGame()" mat-raised-button [disabled]="!playerName">Commencer</button>
            </div>
        </div>
    </mat-card>
</body>
