.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    height: 100%;
    justify-content: center;
}

.containerButton {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.mat-card-title {
    font-size: 23px;
}

.startButton {
    border-radius: 10px;
    width: 200px;
    font-size: 20px;
    padding: 2px;
    color: honeydew;
    background-color: green;
}

.returnButton {
    transform: scale(1.5);
}

.wrapper {
    text-align: center;
}

.max {
    color: red;
}
