<div class="container">
    <mat-card class="wrapper">
        <mat-card-title class="main-title">Paramètres de jeux</mat-card-title>
        <div>
            <mat-card-title>Nom</mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label>Entrez votre Nom</mat-label>
                <input matInput maxlength="20" type="text" [(ngModel)]="playerName" placeholder="Ex. Robert" />
                <mat-hint
                    [ngClass]="{
                        max: playerName?.length === 20
                    }"
                    align="end"
                    >{{ playerName?.length || 0 }}/20</mat-hint
                >
            </mat-form-field>

            <form [formGroup]="form">
                <mat-card-title>Minuterie</mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Temps</mat-label>
                    <mat-select id="timer-select" formControlName="timer">
                        <mat-option id="timer-options" *ngFor="let time of this.timerList" [value]="time">
                            {{ this.secondToMinute(time) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>

            <mat-card-title>Dictionnaire</mat-card-title>
            <mat-form-field appearance="fill">
                <mat-label>Français</mat-label>
                <mat-select disabled required><mat-option value="francais" disabled>Francais</mat-option> </mat-select>
            </mat-form-field>

            <form *ngIf="isSoloMode()" class="soloMode">
                <mat-card-title>Difficulté</mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Difficulté</mat-label>
                    <mat-select disabled required> </mat-select>
                    <mat-option *ngFor="let difficulty of this.difficultyList" [value]="difficulty" disabled>Débutant</mat-option>
                </mat-form-field>
            </form>

            <form *ngIf="isSoloMode()" class="soloMode">
                <mat-card-title>Nom Adversaire</mat-card-title>
                <mat-label> {{ this.botName }} </mat-label>
            </form>

            <div class="containerButton">
                <button class="returnButton" mat-icon-button routerLink="/home">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <button class="startButton" (click)="createGame()" mat-raised-button [disabled]="!playerName">Commencer</button>
            </div>
        </div>
    </mat-card>
</div>
