.container-wrapper {
    height: 88%;
    margin-bottom: 5px;
}

#reserve {
    display: flex;
    align-items: center;
    color: #23501f;
}

#number-letters {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbd7a3;
    border-radius: 3px;
    margin: 10px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
}

.message-container {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

.message {
    margin: 10px 0px;
    font-family: sans-serif;
}

.current-user {
    color: rgb(12, 56, 200);
    text-align: left;
}

.current-user > span {
    background: beige;
    border-radius: 10px;
    padding: 5px;
}

.opponent-user {
    color: blueviolet;
    text-align: right;
}

.opponent-user > span {
    background: lightcyan;
    border-radius: 10px;
    padding: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #fff;
    border-radius: 5px;
}

.system-message {
    color: red;
    text-align: center;
    background: lightgray;
    border-radius: 10px;
}

.user-input {
    width: 100%;
}

.max {
    color: red;
}

.mat-card {
    background: rgba(255, 255, 255, 0.853);
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background: rgba(255, 255, 255, 0.889);
}
