.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    background-color: #c2e5da;
    top: 5%;
    border: 2px solid #c2e5da;
    border-radius: 4px;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scoreInfo {
    width: 150%;
}

.classique {
    margin-right: 5px;
}

.log2990 {
    margin-left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 20px;
    padding: 10px;
}
td {
    height: 30px;
}

.data {
    text-align: center;
    width: 50%;
    padding: 5px;
}

.first {
    color: rgb(218, 165, 32);
}

.second {
    color: rgb(211, 211, 211);
}

.third {
    color: rgb(205, 127, 50);
}

.highScoreTableClassic,
.highScoreTableLOG2990 {
    background-color: rgb(255, 255, 255);
    border: 2px solid #7fa99b;
    border-radius: 4px;
    padding: 0px;
}

mat-icon {
    font-size: 30px;
}
