<h1>Liste des dictionnaires disponibles</h1>
<div class="action-buttons">
    <button mat-raised-button color="basic" (click)="updateDictionaryList()">Rafraîchir <mat-icon>refresh</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetDictionaries()">Réinitialiser <mat-icon>delete</mat-icon></button>
</div>
<mat-card class="dictionaryList">
    <table>
        <thead class="tableContainer">
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="dictionary" *ngFor="let dictionary of dictionaryList">
                <td class="title">{{ dictionary.title }}</td>
                <td class="description">{{ dictionary.description }}</td>
                <td class="justified">
                    <div class="buttons">
                        <button
                            class="buttonModify"
                            mat-raised-button
                            (click)="openModifyDictionaryDialog(dictionary)"
                            *ngIf="!isDefault(dictionary)"
                        >
                            Modifier
                        </button>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button (click)="deleteDictionary(dictionary)" *ngIf="!isDefault(dictionary)">Supprimer</button>
                    </div>
                    <div class="buttons">
                        <button mat-raised-button (click)="downloadJson(dictionary)">
                            <mat-icon>file_download</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>

<h1>Ajouter un dictionnaire (format .json)</h1>

<app-import-dictionary></app-import-dictionary>
