<h1>Liste des dictionnaires disponibles</h1>
<!-- 
<div class="action-buttons">
    <button mat-raised-button color="basic" (click)="updateDictionaryList()">Rafraîchir <mat-icon>refresh</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetDictionaries()">Reinitialiser <mat-icon>delete</mat-icon></button>
</div>

<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let dictionary of dictionaries" [value]="dictionary">
        <div class="justified">
            <div style="flex: 1">{{ dictionary.title }}</div>
            <div style="flex: 3">{{ dictionary.description }}</div>
            <button mat-raised-button (click)="openModifyDictionaryDialog(dictionary)">Modifier</button>
            <button mat-raised-button (click)="deleteDictionary(dictionary)">Supprimer</button>
        </div>
    </mat-list-option>
</mat-selection-list>
<button mat-raised-button (click)="openAddDictionaryDialog()">Ajouter un dictionaire</button> -->
