.justified {
    display: flex;
    flex-direction: row;
}

.dictionaryList {
    margin-bottom: 3%;
    background-color: #c2e5da;
}

table {
    width: 100%;
    justify-content: space-between;
}

th {
    font-size: 20px;
    padding: 10px;
}

tr {
    text-align: center;
}
.description {
    flex: 4;
}

.title,
.buttons {
    flex: 1;
}

.action-buttons {
    display: flex;
    margin-bottom: 2%;
    justify-content: space-between;
}
