<h1>Liste des dictionnaires disponibles</h1>

<div class="action-buttons">
    <button mat-raised-button color="basic" (click)="updateDictionaryList()">Rafraîchir <mat-icon>refresh</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetDictionaries()">Réinitialiser <mat-icon>delete</mat-icon></button>
</div>

<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let dictionary of dictionaryList" [value]="dictionary">
        <div class="justified">
            <div class="title">{{ dictionary.title }}</div>
            <div class="description">{{ dictionary.description }}</div>
            <div class="buttons">
                <button class="buttonModify" mat-raised-button (click)="openModifyDictionaryDialog(dictionary)" *ngIf="!isDefault(dictionary)">
                    Modifier
                </button>
            </div>
            <div class="buttons">
                <button mat-raised-button (click)="deleteDictionary(dictionary)" *ngIf="!isDefault(dictionary)">Supprimer</button>
            </div>
            <div class="buttons">
                <button mat-raised-button (click)="downloadJson(dictionary)" *ngIf="!isDefault(dictionary)">
                    <mat-icon>file_download</mat-icon>
                </button>
            </div>
        </div>
    </mat-list-option>
</mat-selection-list>

<h1>Ajouter un dictionnaire (format .json)</h1>
<input #file (change)="detectImportFile()" type="file" id="selectFiles" accept=".json" value="Import" /><br />
<button mat-raised-button (click)="uploadDictionary()" id="import">Ajouter le dictionnaire</button>
<p #fileError id="file-error"></p>
