#canvas {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 3px 2px -2px rgba(0, 0, 0, 0.2), 1px 2px 2px 1px rgba(0, 0, 0, 0.14), 1px 2px 4px 1px rgba(0, 0, 0, 0.12);
}

.container {
    display: flex;
    flex-direction: column;
}

#police {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding-bottom: 5px;
    background-color: #7fa99b;
    border-radius: 4px;
    margin: 5px 0;
    padding: 5px 10px;
}

#font-size {
    font-size: 14px;
    font-weight: 500;
    color: #23501f;
    margin-bottom: 0px;
}

.mat-slider {
    width: 78%;
}

#winning-message {
    position: absolute;
    top: calc(50% - 2em);
    background-color: #23501f;
    color: #fff;
    padding: 10px;
    font-family: system-ui;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
}

::ng-deep .mat-accent .mat-slider-track-fill,
::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #23501f;
}
