<div class="container-wrapper">
    <mat-slider
        id="updateFontSlider"
        thumbLabel
        [displayWith]="formatLabel"
        [(ngModel)]="value"
        (input)="updateFontSize($event)"
        step="1"
        min="20"
        max="30"
    ></mat-slider>
    <canvas id="canvas" #gridCanvas (click)="mouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>
    <app-player-rack [keyboardParentSubject]="keyboardParentSubject" class="player-rack"></app-player-rack>
</div>
