<!-- <h1>Ajouter un dictionnaire <mat-icon matSuffix>mode_edit</mat-icon></h1>

<h2>
    Télécharger un dictionaire en format .json<button mat-raised-button>Télécharger <span class="material-icons"> file_upload </span></button>
</h2>

<h3>OU</h3>

<h2>Téléverser un dictionnaire</h2>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Entrez une langue</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<div id="buttons">
    <button mat-raised-button (click)="closeDialog()">Annuler</button>
    <button mat-raised-button (click)="addDictionary()">Ajouter</button>
</div> -->
